<a href="https://colab.research.google.com/github/jes11111/test1111/blob/main/week2/colab_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Week2 Colab practice

Follow the instructions below

  1) Mount google drive    
  2) type the command below
```
!cd drive/MyDrive/
!git clone https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition.git
```

## Preparation codes for ch1

In [ ]:
import sys
sys.path.append('/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/visual-aids/')

from visual_aids import stats_viz

## Save this notbook to your repository

File -> Save a copy in a github

In [13]:
import pandas as pd
df= pd.DataFrame([
    {"Name":"윤도현",'Hobby':'Movie',"Nationality":"South Korea","Number":23},
   {"Name":"장은석",'Hobby':'Games',"Nationality":"South Korea","Number":3},
    {"Name":"문민지",'Hobby':'Reading',"Nationality":"South Korea","Number":13}
])
df

  Name    Hobby  Nationality  Number
0  윤도현    Movie  South Korea      23
1  장은석    Games  South Korea       3
2  문민지  Reading  South Korea      13

In [14]:
df.index= [1,2,3]
df_index=df.index
df_index.values
df

  Name    Hobby  Nationality  Number
1  윤도현    Movie  South Korea      23
2  장은석    Games  South Korea       3
3  문민지  Reading  South Korea      13

In [15]:
df.Number.sum()

39

In [16]:
df.Number.mean()

13.0

In [17]:
df.Number.min()

3

In [18]:
df.Number.max()

23

In [19]:
df.to_csv('output.csv,index=False')